/* BASIC */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*{ margin: 0; padding: 0; }

/* MIXINS */

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* PRESENTSLISTVIEW COMPONENT*/

.listView {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    header {
        width: 100%;       
        background: url('./../../assets/images/bg-presents-header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        @include flex-column-center;
        flex-wrap: wrap;        
        align-items: center;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

        .listView__titleWrapper{
            padding: 3%;
            height: 5rem;
            text-align: center;
            @include flex-column-center;
            align-items: center; 
            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.47);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4.5px);
            border: 1px solid rgba(255, 255, 255, 0.23);

            .listView__title {
                color: #0B5153;            
            }
        }
    }    

    .listView__groupsContainer {
        width: 100%;
        @include flex-column-center;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0;       
    }

    .listView__groupsContainer--horizontal {
        border: 3px solid #15792f;
        width: 90%;
        height: 270px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        

        .listView__groupsContainer--scroller {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 31%;
            gap: 1rem;
            overflow-x: auto;
            overscroll-behavior-inline: contain;
        }
    }
}


/* PRESENTSGROUP COMPONENT */

.group {   
    @include flex-column-center;
    align-items: flex-start;
    cursor: pointer;

    &:hover {
        background-color: rgb(228, 218, 239);
    }    

    .group__tagsContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        .group__tag {
            border: 1px solid #1C953B;
            margin-right: 5%;
            font-weight: bold;              

        }
    }
    
}

